extends _layout/layout

block variables
	- var title = 'INDEX'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	- var app = 'weilion'
	loading(id=app+"_loading")
		bar(class=app+"_loading__top")
		bar(class=app+"_loading__bottom")
		audio(id=app+"_loading__audio", controls, autoplay)
			source(src="./data/002.mp3" type="audio/mpeg")
			source(src="./data/002.ogg" type="audio/ogg")
			source(src="./data/002.wav" type="audio/wav")
	weilion-home(id=app+"-home")
		weilion-particles-js(id=app+"-particles-js")
		weilion-home-text
			.container 
				.row 
					.col-12
						.texttyping
							span#text-replace
							//- span First stage – S-IC
							//- span Length 138.0 ft (42.1 m) 
							//- span Diameter 33.0 ft (10.1 m) 
							//- span Empty mass 287,000 lb (130,000 kg) 
							//- span Gross mass 5,040,000 lb (2,290,000 kg) 
							//- span Engines 5 Rocketdyne F-1 
							//- span Thrust 7,891,000 lbf (35,100 kN) sea level 
							//- span Specific impulse 263 seconds (2.58 km/s) sea level
						.weilion-home-btn 
							text TIME LINE
							span >>>
	weilion-team(id=app+"-team")
		.container 
			.row 
				.col-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?