extends _layout/layout

block variables
	- var title = 'INDEX'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	- var app = 'weilion'
	loading(id=app+"_loading")
		bar(class=app+"_loading__top")
		bar(class=app+"_loading__bottom")
		audio(id=app+"_loading__audio", controls, autoplay)
			source(src="./data/002.mp3" type="audio/mpeg")
			source(src="./data/002.ogg" type="audio/ogg")
			source(src="./data/002.wav" type="audio/wav")
	weilion-home(id=app+"-home")
		.container 
			.row 
				.col-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nostrum nemo. Voluptas quasi temporibus quos consequatur. Aperiam voluptatem veniam minus perferendis obcaecati soluta, itaque explicabo deserunt optio vero sequi quas.