extends _layout/layout

block variables
	- var title = 'Weimong to the moon'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	- var app = 'weilion'
	loading(id=app+"_loading")
		bar(class=app+"_loading__top")
		bar(class=app+"_loading__bottom")
	include _partials/weilion-home
	include _partials/weilion-weispace
	include _partials/weilion-generation
	include _partials/weilion-weimong
	include _partials/weilion-roadmap
	include _partials/weilion-video
	include _partials/weilion-team
	include _partials/weilion-contact
	include _partials/weilion-footer
	// Audio player
	audio(id=app+"_loading__audio", controls, autoplay)
		source(src="/data/002.mp3" type="audio/mpeg")
		source(src="/data/002.wav" type="audio/wav")
	audio(id=app+"_background__audio", controls)
		source(src="/data/beep-22.mp3" type="audio/mpeg")
		source(src="/data/beep-22.wav" type="audio/wav")
	audio(id=app+"_laser__audio", controls)
		source(src="/data/001.mp3" type="audio/mpeg")
		source(src="/data/001.wav" type="audio/wav")
	audio(id=app+"_intro__audio", controls)
		source(src="/data/beep-21.mp3" type="audio/mpeg")
		source(src="/data/beep-21.wav" type="audio/wav")
	audio(id=app+"_intro_click__audio", controls)
		source(src="/data/button-3.mp3" type="audio/mpeg")
		source(src="/data/button-3.wav" type="audio/wav")
	audio(id=app+"_intro_screen__audio", controls)
		source(src="/data/beep-1.mp3" type="audio/mpeg")
		source(src="/data/beep-1.wav" type="audio/wav")
	audio(id=app+"_typing__audio", controls loop)
		source(src="/data/beep-24.mp3" type="audio/mpeg")
		source(src="/data/beep-24.wav" type="audio/wav")
	audio(id=app+"_space__audio", controls loop)
		source(src="/data/audio.mp3" type="audio/mpeg")
		source(src="/data/audio.ogg" type="audio/ogg")
