extends _layout/layout

block variables
	- var title = 'Weimong to the moon'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	- var app = 'weilion'
	loading(id=app+"_loading")
		bar(class=app+"_loading__top")
		bar(class=app+"_loading__bottom")
		audio(id=app+"_loading__audio", controls, autoplay)
			source(src="/data/002.mp3" type="audio/mpeg")
			source(src="/data/002.wav" type="audio/wav")
	weilion-home(id=app+"-home")
		//- weilion-particles-js(id=app+"-particles-js")
		weilion-home-text
			.container 
				.row 
					.col-12
						.texttyping
							span#text-replace
						.weilion-home-btn 
							text TIME LINE
							span >>>
								//- span >>>
						.weilion-home-vivobo
							.weilion-home-vivobo-video
								video(src="/data/w-x-header.mp4" muted autoplay preload="auto" loop)
							.weilion-home-odometer
								.odometer-number
									h2 holder
									#odometer-1.number.odometer 9999999
								.odometer-number
									h2 total liquidity
									#odometer-2.number.odometer 1000310427
								.odometer-number
									h2 burned
									#odometer-3.number.odometer 10000000
								.odometer-number
									h2 market cap
									#odometer-4.number.odometer 730244000014
								.player-controls
									//- span.play
										svg.player-btn-icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1024 1024")
											path.path1(fill="transparent", d="M699.050 761.893c-7.438 0-14.816-3.227-19.875-9.446-8.922-10.968-7.262-27.093 3.704-36.014 54.096-44.003 85.122-109.187 85.122-178.832s-31.026-134.827-85.12-178.834c-10.968-8.922-12.627-25.046-3.704-36.014s25.046-12.626 36.014-3.702c66.099 53.771 104.010 133.43 104.010 218.55 0 85.122-37.91 164.779-104.011 218.55-4.749 3.862-10.462 5.742-16.139 5.742z")
											path.path2(fill="transparent", d="M602.19 642.677c-7.438 0-14.814-3.227-19.875-9.446-8.922-10.966-7.264-27.093 3.704-36.014 18.037-14.672 28.381-36.4 28.381-59.616 0-23.218-10.346-44.949-28.382-59.621-10.966-8.922-12.627-25.046-3.704-36.014s25.045-12.626 36.014-3.704c30.040 24.44 47.272 60.645 47.272 99.339 0 38.691-17.23 74.898-47.27 99.334-4.747 3.861-10.462 5.742-16.139 5.742z")
											path.path3(fill="transparent", d="M417.291 164.216c-12.64 0-25.318 5.33-37.682 15.838l-209.819 178.346h-92.99c-42.347 0-76.8 34.453-76.8 76.8v204.8c0 42.349 34.453 76.8 76.8 76.8h92.989l209.821 178.346c12.363 10.509 25.040 15.838 37.68 15.838 0 0 0 0 0.002 0 13.931 0 26.429-6.762 34.288-18.55 6.118-9.178 9.221-20.898 9.221-34.834v-640c0-36.877-21.853-53.384-43.509-53.384zM51.2 640v-204.8c0-14.115 11.485-25.6 25.6-25.6h76.8v256h-76.8c-14.115 0-25.6-11.485-25.6-25.6zM409.6 853.442l-204.8-174.080v-283.523l204.8-174.078v631.682z")
									span.play
										svg.player-btn-icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 200 200")
											path.svg-play(fill="transparent", d="M90 50 L30 15 L30 160 L170 100 L130 75")
									span.pause
										svg.pause-btn-icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 200 200")
											path.svg-pause(fill="transparent", d="M50 20 V160 M140 20 V160")

	weilion-weispace(id=app+"-weispace")
		.container 
			.row 
				.col-12
					h2.weispace-animated weispace
					.row 
						.col-lg-5
							.infobox.my-3.my-lg-4.my-lg-5.animatable(data-animate="animate__fadeIn animate__slow")
								//- .animatable(data-animate="animate__fadeInUp")
								span welion space 
								| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.
							
							.numberbox.my-3.my-lg-4.my-lg-5 
								.item.animatable(data-animate="animate__fadeInUp animate__faster")
									h3 length of the truss
									p 108.4 m
								.item.animatable(data-animate="animate__fadeInUp animate__fast")
									h3 WEIGHT (400 tons)
									p ~400.000 kg
								.item.animatable(data-animate="animate__fadeInUp")
									h3 the pressurized volume
									p -1000 m3
								.item.animatable(data-animate="animate__fadeInUp animate__slow")
									h3 Length of all modules
									p 74 m
							.notebox.animatable(data-animate="animate__fadeInRight animate__slow")
								h3 
									svg.w-6.h-6.fill-white(stroke="currentColor", fill="currentColor", stroke-width="0", viewBox="0 0 24 24", height="1em", width="1em", xmlns="http://www.w3.org/2000/svg")
										circle(cx="12", cy="12", r="3")
										path(d="M13 4.069V2h-2v2.069A8.008 8.008 0 0 0 4.069 11H2v2h2.069A8.007 8.007 0 0 0 11 19.931V22h2v-2.069A8.007 8.007 0 0 0 19.931 13H22v-2h-2.069A8.008 8.008 0 0 0 13 4.069zM12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z")
									span lauch location
								p Kennedy Space Center Launch Complex 39
								p Gagarin's Start, Baikonur Cosmodrome Site 81 on map BSC Weilion.

						.col-lg-7.lanch
							figure.mb-4.d-lg-none
								img.w-100(src="./img/home-weispace-bg-2.jpg", alt="", srcset="")
							ul.list-unstyled
								li.animatable(data-animate="animate__fadeInUp animate__faster")
									.icon 
										i.far.fa-calendar
									.text 
										span Launch date
										span May 12, 2021
								li.animatable(data-animate="animate__fadeInUp animate__fast")
									.icon 
										i.far.fa-comment-dots
									.text 
										span orbital speed
										span 7.66 km/s
								li.animatable(data-animate="animate__fadeInUp")
									.icon 
										i.far.fa-clone
									.text 
										span orbital altitude
										span 408 km
	weilion-generation(id=app+"-generation")
		.container 
			.row 
				.col-12
					h2.weispace-animated 
						span generation
						span generation
						span generation
		.boxupto.weispace-animated
			.num 
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
					path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")


	weilion-copyright.d-block.bg-light.text-dark(id=app+"-copyright")
		.container 
			.row 
				.col-12.pt-3
					p.text-center.small
						span Copyright © 2020 WEILION. All rights reserved. Code by Nguyen Pham
	//- weilion-team(id=app+"-team")
		.container 
			.row 
				.col-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur maiores beatae, quibusdam corrupti id, dicta voluptate autem culpa voluptates quis eaque deleniti, exercitationem sed facilis a. At, vel voluptatibus?
	audio(id=app+"_background__audio", controls)
		source(src="/data/beep-22.mp3" type="audio/mpeg")
		source(src="/data/beep-22.wav" type="audio/wav")
	audio(id=app+"_laser__audio", controls)
		source(src="/data/001.mp3" type="audio/mpeg")
		source(src="/data/001.wav" type="audio/wav")
	audio(id=app+"_intro__audio", controls)
		source(src="/data/beep-21.mp3" type="audio/mpeg")
		source(src="/data/beep-21.wav" type="audio/wav")
	audio(id=app+"_intro_click__audio", controls)
		source(src="/data/button-3.mp3" type="audio/mpeg")
		source(src="/data/button-3.wav" type="audio/wav")
	audio(id=app+"_intro_screen__audio", controls)
		source(src="/data/beep-1.mp3" type="audio/mpeg")
		source(src="/data/beep-1.wav" type="audio/wav")
	audio(id=app+"_typing__audio", controls loop)
		source(src="/data/beep-24.mp3" type="audio/mpeg")
		source(src="/data/beep-24.wav" type="audio/wav")
	audio(id=app+"_space__audio", controls loop)
		source(src="/data/audio.mp3" type="audio/mpeg")
		source(src="/data/audio.ogg" type="audio/ogg")
