extends _layout/layout

block variables
	- var title = 'Weilion Platform Matrix'
	- var description = 'Welion space is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	- var app = 'weilion'
	loading(id=app+"_loading_done")
		.innderloading
			.cnt 
				.caption 
					span Weilion Platform Matrix
				p 
					img(src="./img/logo.webp", alt="Weilion Logo")
				p WEILION SPACE. All rights reserved.
					br 
					| Powered by WEI blockchain technology.
				.liner
				p.cnt-lo
					span#text-loading
			#pace-loading.weipace-loading.btn.btn-link.d-none(href="#") Close
	//- loading(id=app+"_loading")
		bar(class=app+"_loading__top")
		bar(class=app+"_loading__bottom")
	include _partials/weilion-home
	include _partials/weilion-weispace
	include _partials/weilion-generation
	include _partials/weilion-tech
	include _partials/weilion-weimong
	include _partials/weilion-roadmap
	include _partials/weilion-resources
	include _partials/weilion-video
	include _partials/weilion-team
	include _partials/weilion-contact
	include _partials/weilion-footer
	// Audio player
	audio(id=app+"_loading__audio", controls, autoplay)
		source(src="/data/002.mp3" type="audio/mpeg")
		source(src="/data/002.wav" type="audio/wav")
	audio(id=app+"_background__audio", controls)
		source(src="/data/beep-22.mp3" type="audio/mpeg")
		source(src="/data/beep-22.wav" type="audio/wav")
	audio(id=app+"_laser__audio", controls)
		source(src="/data/001.mp3" type="audio/mpeg")
		source(src="/data/001.wav" type="audio/wav")
	audio(id=app+"_intro__audio", controls)
		source(src="/data/beep-21.mp3" type="audio/mpeg")
		source(src="/data/beep-21.wav" type="audio/wav")
	audio(id=app+"_intro_click__audio", controls)
		source(src="/data/button-3.mp3" type="audio/mpeg")
		source(src="/data/button-3.wav" type="audio/wav")
	audio(id=app+"_intro_screen__audio", controls)
		source(src="/data/beep-1.mp3" type="audio/mpeg")
		source(src="/data/beep-1.wav" type="audio/wav")
	audio(id=app+"_typing__audio", controls)
		source(src="/data/beep-24.mp3" type="audio/mpeg")
		source(src="/data/beep-24.wav" type="audio/wav")
	audio(id=app+"_space__audio", controls loop)
		source(src="/data/audio.mp3" type="audio/mpeg")
		source(src="/data/audio.ogg" type="audio/ogg")
	audio(id=app+"_space__yahoo", controls)
		source(src="/data/bensound-hey.mp3" type="audio/mpeg")
	// Coming soon
	#weilionBackdrop.modal.fade(data-backdrop="static", data-keyboard="false", tabindex="-1", aria-labelledby="weilionBackdropLabel", aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					h5#weilionBackdropLabel.modal-title Coming soon!
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						i.fa.fa-times
				.modal-body.p-4 
					h4 An awesome website is under construction
					p.lead.mb-0 We are currently working on something awesome. Stay tuned!
	#weiLionContextMenu.weiLionContextMenu 
		h5 Do you want to fly with us?
		.row 
			.col-auto
				h6 control panel
				.blockcircle
					.clicle
					.clicle
					.clicle
					.clicle
					.clicle
					.clicle
					.clicle
				p.csl WEILION Radar
			.col
				.oktype 
					.btn.btn-sm.btn-link-bt alt
					.btn.btn-sm.btn-link M
					.canceltype to show/hide key
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link M
					.canceltype to show/hide menu
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link S
					.canceltype to on/off sound
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link W
					.canceltype go to Weispace
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link G
					.canceltype go to Generation
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link O
					.canceltype go to Resources
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link H
					.canceltype go to Technical
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link I
					.canceltype go to Weimong
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link R
					.canceltype go to Roadmap
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link T
					.canceltype go to Team
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link C
					.canceltype go to Contact
				.oktype 
					.btn.btn-sm.btn-link-bt shift
					.btn.btn-sm.btn-link P
					.canceltype go to Homepage
	#weilionCredits.modal(data-backdrop="static", data-keyboard="false", tabindex="-1", aria-labelledby="weilionCreditsPop", aria-hidden="true")
		.modal-dialog.modal-dialog-scrollable.modal-dialog-centered
			.modal-content
				.modal-header
					h5#weilionBackdropLabel.modal-title WEILION Credits
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						i.fa.fa-times
				.modal-body.p-4 
					.credits 
						h4 directed by
						p.name Adam Do

						h4 produced by
						p.name Chien Phan
		
						h4 director of photography
						p.name Sam
		
						//- h4 screenplay by
						//- p.name Nguyen Pham

						h4 3d by
						p.name Stefano Tsai
		
						h4 animation by
						p.name Nhat Ngoc
		
						h4 solution by
						p.name Manh Pham
		
						h4 effect by
						p.name Cuong Nguyen
		
						h4 system by
						p.name Kenvin Nguyen
		
						h4 visual effects
						p.name Huong Ngo